{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"

          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    {#    <link rel="stylesheet" href="{% static 'search/search_page.css' %}">#}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d71507d461.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}{% endblock %}
        {% block title-clientes %}{% endblock %}
    </title>
</head>
<body>
<div class="container">

    <!-- Nav Section -->

    <nav>
        <div class="logo-search">
            <h3>LOGO</h3>
            <!--                    <img src="logocbVision.png" alt="">-->
            <form class="form-search-nav" action="" method="GET">
                <input type="text" placeholder="BUSCAR...">
                <span class="material-icons">search</span>
            </form>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'clientes:dashboard' %}">Dashboard</a></li>
            <li><a href="">Logout</a></li>
            <div class="user">
                <span class="material-icons">account_circle</span>
                <p>{{ user }}</p>
            </div>
        </ul>
    </nav>

    <!-- SideBar Section -->


    <div class="sidebar">
        <div class="nav-sidebar">
            <div class="clientes box-sidebar">
                <div class="icon-title">
                    <span class="material-icons">people</span>
                    <p>Clientes</p>
                </div>
                <span class="material-icons">keyboard_arrow_right</span>
                <ul class="lista-clientes lista-dashboard">
                    <li><a href="{% url 'clientes:busqueda-clientes' %}">Información Cliente</a></li>
                    <li><a href="{% url 'clientes:contrato-nuevo' %}">Contratos Nuevos</a></li>
                    <li><a href="">Activacion Contrato</a></li>
                    <li><a href="">Lista de Clientes</a></li>
                </ul>
            </div>
            <div class="cobros box-sidebar">
                <div class="icon-title">
                    <span class="material-icons">paid</span>
                    <p>Cobros</p>
                </div>
                <span class="material-icons">keyboard_arrow_right</span>
                <ul class="lista-pagos lista-dashboard">
                    <li><a href="">Mensualidades</a></li>
                    <li><a href="">Materiales</a></li>
                    <li><a href="">Lista Cobros</a></li>

                </ul>
            </div>
            <div class="reclamos box-sidebar">
                <div class="icon-title">
                    <span class="material-icons">note_alt</span>
                    <p>Reclamos</p>
                </div>
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
            <div class="tareas box-sidebar">
                <div class="icon-title">
                    <span class="material-icons">description</span>
                    <p>Tareas</p>
                </div>
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
            <div class="materiales box-sidebar">
                <div class="icon-title">
                    <span class="material-icons">home_repair_service</span>
                    <p>Materiales</p>
                </div>
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
        </div>

    </div>


        {% block busqueda-clientes %}{% endblock %}
        {% block form-contrato %}{% endblock %}
        {% block menu %}{% endblock %}


    <!-- Contenido Dinámico -->


    {#    <div class="total-clientes box-dashboard">#}
    {#        <p>Clientes Activos</p>#}
    {#        <h3>993</h3>#}
    {##}
    {#    </div>#}
    {#    <div class="reclamos-clientes box-dashboard">#}
    {#        <p>Total de Reclamos</p>#}
    {#        <h3>99</h3>#}
    {##}
    {#    </div>#}
    {#    <div class="cortes-clientes box-dashboard">#}
    {#        <p>Cortes de Servicio</p>#}
    {#        <h3>99</h3>#}
    {##}
    {#    </div>#}
    {##}
    {#    <div class="reinstalaciones-clientes box-dashboard">#}
    {#        <p>Reinstalaciones </p>#}
    {#        <h3>9</h3>#}
    {##}
    {#    </div>#}

{#    <main>#}
    {##}
    {#    {% block menu %}{% endblock %}#}
    {#    {% block clientes %}{% endblock %}#}
    {#    {% block form-contrato %}{% endblock %}#}

    {#    {% block lista-clientes %}{% endblock %}#}
    {#    {% block info-cliente %}{% endblock %}#}
    {#    {% block cliente-creado %}{% endblock %}#}
    {#    {% block info-contrato-clientes %}{% endblock %}#}
    {#    {% block busqueda-clientes-contrato %}{% endblock %}#}
    {#    {% block activar_cliente %}{% endblock %}#}
    {#    {% block form_materiales %}{% endblock %}#}
    {#    {% block cliente_materiales_form %} {% endblock %}#}
    {#    {% block menu-materiales %}{% endblock %}#}
    {#    {% block material-creado-exito %}{% endblock %}#}
    {#    {% block menu-pagos %}{% endblock %}#}
    {##}
    {##}
    {#</main>#}


</div>



</body>
</html>