{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block menu %}

    <div class="total-clientes box-dashboard">
        <p>Clientes Activos</p>
        <h3>{{ clientes|length }}</h3>
    </div>

    <div class="reclamos-clientes box-dashboard">
        <p>Total de Reclamos</p>
        <h3>0</h3>
    </div>

    <div class="cortes-clientes box-dashboard">
        <p>Cortes de Servicio</p>
        <h3>0</h3>
    </div>

    <div class="reinstalaciones-clientes box-dashboard">
        <p>Reinstalaciones </p>
        <h3>0</h3>
    </div>


{% endblock %}
