{% extends 'base.html' %}
{% block form-contrato %}
    <div class="container-form">

        <h1 id="title-contrato">Contrato Nuevo</h1>

        <form class="contrato-clientes" action="{% url 'clientes:contrato-nuevo' %}" method="post">
            {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
                <p>{{ non_field_error }}</p>
            {% endfor %}
            {% for field in form %}
                <div class="container-input">
                    {{ field }}
                    <label for="{{ field.id_for_label }}"><span>{{ field.label }}:</span></label>

                    {% if field.help_text %}
                        <p>{{ fiel.help_text }}</p>

                    {% endif %}
                    {% for error in field.errors %}
                        <p class="error-field">{{ error }}</p>

                    {% endfor %}

                </div>

            {% endfor %}
            <input class="btn-submit" type="submit" value="Submit">
        </form>

    </div>

{% endblock %}



