{% extends 'base.html' %}
{% block info-contrato-clientes %}


    <h3 class="title-info-contrato">Información Contrato</h3>

    <div class="container-info-cliente-contrato">
        <div class="card-info-clientecontrato">
            <div class="name-cliente">
                <i class="fa fa-user fa-2x"></i>
                <p>{{ cliente }}</p>
                <a href="{% url 'clientes:activar-cliente' cliente.cedula %}" class="button">Activar</a>
            </div>
            <div class="direccion">
                <div class="icon-title">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="date">Dirección</span>
                </div>
                <p>{{ cliente.address|upper }}</p>
            </div>
            <div class="cedula field">
                <div class="icon-title-info">
                    <i class="fa fa-address-card fa-2x"></i>
                    <span>Número de cédula</span>
                </div>
                <span class="date">{{ cliente.cedula }}</span>
            </div>
            <div class="celular field">
                <div class="icon-title-info">
                    <i class="fa fa-mobile fa-2x"></i>
                    <span>Teléfono celular</span>
                </div>
                <span class="date">{{ cliente.telefono_celular }}</span>
            </div>
            <div class="telefono-domicilio field">
                <div class="icon-title-info">
                    <i class="fa fa-phone fa-2x"></i>
                    <span>Teléfono domicilio</span>
                </div>
                <span class="date">{{ cliente.telefono_domicilio }}</span>
            </div>
            <div class="fecha-instalacion field">
                <div class="icon-title-info">
                    <i class="fa fa-calendar fa-2x"></i>
                    <span>Fecha de Instalación</span>
                </div>
                <span class="date">{{ cliente.fecha_contrato|date:"d/ M/ Y" }}</span>
            </div>
            <div class="estado-cliente field">
                <div class="icon-title-info">
                    <i class="fa fa-exclamation fa-2x"></i>
                    <span>Estado</span>
                </div>
                {% if not cliente.instalado %}
                <span class="date activo">No instalado</span>
                {% endif %}
            </div>
        </div>
    </div>





    </div>




{% endblock %}