{% extends 'base.html' %}
{% block info-contrato-clientes %}

    <div class="container-card-info-contrato-cliente">

        <h3>Información del Contrato</h3>

        <div class="card_info_contrato_clientes">
            <div class="nombre-section section">
                <p class="nombre-title title">NOMBRE </p>
                <p class="nombre data">{{ cliente }}</p>
            </div>
            <div class="cedula-section section">
                <p class="cedula-title title">CÉDULA </p>
                <p class="cedula data">{{ cliente.cedula }}</p>
            </div>
            <div class="fecha-contrato-section section">
                <p class="fecha-contrato-title title">FECHA DE CONTRATO </p>
                <p class="fecha-contrato data">{{ cliente.fecha_contrato }}</p>
            </div>
            <div class="direccion-section section">
                <p class="direccion-title title">DIRECCIÓN </p>
                <p class="direccion data">{{ cliente.address| capfirst }}</p>
            </div>
            <div class="telefono-celular-section section">
                <p class="telefon-title title">TELÉFONO CELULAR </p>
                <p class="telefono data">{{ cliente.telefono_celular }}</p>
            </div>
            <div class="valor-contrato-section section">
                <p class="valor-title title">VALOR CANCELADO </p>
                <p class="valor data">${{ cliente.valor_contrato }}</p>
            </div>
            <div class="instalado-section section">
                {% if not cliente.instalado %}
                    <p class="instalado-title title">INSTALADO </p>
                    <p class="instalado data">No se encuentra instalado.</p>
                {% else %}
                    <p>INSTALADO</p>
                    <p class="instalado data">Instalado</p>
                {% endif %}
            </div>

        </div>


            <a class="activar" href="{% url 'clientes:activar-cliente' cliente.cedula %}"><button>Activar</button></a>



    </div>




{% endblock %}