{% extends 'base.html' %}

{% block busqueda-clientes %}


    <form class="form-busqueda-clientes" action="{% url 'clientes:busqueda-clientes' %}" method="GET">
        <label for="id_busqueda"> Ingrese el apellido o número de cédula del cliente</label>
        <input id="id_busqueda" type="text" placeholder="BUSCAR ..." name="busqueda" maxlength="100" required>
        <span class="material-icons">search</span>
        <input class="button-buscar" type="submit" value="Buscar">
    </form>

    <div id="container-clientes-encontrados">


        {% if  clientes %}

            <div class="box-clientes-encontrados">
                <h3 class="title-clientes">Clientes Activos</h3>
                <div class="listado-clientes-encotrados">
                    {% for cliente in clientes %}
                        <p><a href="{{ cliente.get_absolute_url }}">{{ cliente|capfirst }}</a></p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if  cliente %}
            <div class="box-clientes-encontrados">
                <a href="{{ cliente.get_absolute_url }}">{{ cliente }}</a>
            </div>
        {% endif %}


        {##}
        {#        {% elif cliente is None %}#}
        {#            <div class="box-clientes-encontrados">#}
        {#                <p>No hay un cliente con este número de cédula</p>#}
        {#            </div>#}
        {#        {% endif %}#}
        {##}


    </div>


    {#        {% if form.errors %}#}
    {#            {{ form.errors }}#}
    {##}
    {#        {% endif %}#}

{% endblock %}

